:root {
  --main-color: #3498db;
  --font-size: 16px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    /* background-color: red; */
    width: 80%;
    margin: auto;
    padding:  0 10px;

}
body{
    background-image: url("/headphones/images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    max-width: 1000;
}
/* .container{
    width: 100vw;
    max-width: 1000px;
    margin:  auto;
}  */

a:hover,a:active{
    color: #FF6565;
}
button:hover, button:active{
    opacity: 0.9
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.links li{
    padding: 20px;
    color: #FFFFFF;
    font-family: Source Sans Pro;
}
@media screen and (max-width:480px) {
    body{
        font-size: 14px;
    }
    .links{
    display: flex;
    flex-direction: column;
   align-items: center;
    list-style: none;
}
.links li{
    padding: 15px;
    color: #FFFFFF;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
