body,main{display: flex;}
body{ flex-direction: column;}
main{ 
    flex-direction: row; 
    flex: auto;
}
article{ 
    flex: 2; 
    overflow-y: auto;
}
aside{ 
    flex: 1; 
    overflow-y: auto;
}
figure img {
    width: 100px;
}
.logo {
  font-size: 2.5rem;
  font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
  margin-right: auto;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul li a {
  margin-left: 1-rem;
  color: #f00e12;
  padding: 20px;
}
